MQTT_HOST=mosquitto              # 브로커 호스트 (Docker 서비스명 또는 IP)
MQTT_PORT=1883                   # 기본 MQTT 포트
MQTT_USER=                       # (선택) 인증용 사용자 이름
MQTT_PASS=                       # (선택) 인증용 비밀번호
MQTT_CLIENT_ID=topst-receiver    # 수신 클라이언트 ID
MQTT_KEEPALIVE=60                # keepalive 간격 (초)
MQTT_QOS=1                       # 0, 1, 2 중 선택 (QoS 레벨)

DEVICE_NAMESPACE=topst           # 예: topst/{device}/{kind}

DATA_DIR=./data

AUDIO_SAVE_INTERVAL=5


# 로그 출력 레벨: DEBUG | INFO | WARNING | ERROR
LOG_LEVEL=INFO

SAVE_CAMERA_FILES=true

PORT=8000
